In [13]:
# read the first 5 rows of the csv

import pandas as pd

log_file = './csv_raw_and_processed/Data_Processed/open_input_logdata.csv'
header_file = './csv_raw_and_processed/Data_Processed/open_input_logdata_header.csv'
part_file = './csv_raw_and_processed/Data_Processed/open_participants.csv'

# df = pd.read_csv(file, on_bad_lines="skip", encoding = "ISO-8859-1")
log_df = pd.read_csv(log_file, encoding = "ISO-8859-1", on_bad_lines="skip", header=None)
pard_df = pd.read_csv()
log_header = pd.read_csv(header_file)

/var/folders/m9/1_s0gr552qjcvphd2kyv0_yw0000gq/T/ipykernel_26638/1915159738.py:10: DtypeWarning: Columns (15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  log_df = pd.read_csv(log_file, encoding = "ISO-8859-1", on_bad_lines="skip", header=None)

In [14]:
log_header.loc[:, "Field"];

In [15]:
pd.set_option('display.max_columns', None)
log_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21
0,1537443054698,325122,2512,input,undefined,undefined,W,W,NaN,"{\alpha\"":\""60.75\""","\""beta\"":\""19.76\""","\""gamma\"":\""2.61\""}""",0,1,0.0,1,0,W,#,0.0,0.0,0.0
1,1537443054849,325128,2512,input,undefined,undefined,e,We,NaN,"{\alpha\"":\""59.30\""","\""beta\"":\""21.17\""","\""gamma\"":\""1.30\""}""",0,2,1.0,1,1,e,W,0.0,0.0,0.0
2,1537443055169,325125,2512,input,undefined,undefined,,We,NaN,"{\alpha\"":\""59.71\""","\""beta\"":\""21.30\""","\""gamma\"":\""1.12\""}""",0,3,2.0,1,1,_,e,0.0,0.0,0.0
3,1537443055374,325140,2512,input,undefined,undefined,h,We h,NaN,"{\alpha\"":\""60.44\""","\""beta\"":\""21.05\""","\""gamma\"":\""3.06\""}""",0,4,3.0,1,1,h,_,0.0,0.0,0.0
4,1537443055503,325142,2512,input,undefined,undefined,a,We ha,NaN,"{\alpha\"":\""60.59\""","\""beta\"":\""21.22\""","\""gamma\"":\""3.54\""}""",0,5,4.0,1,1,a,h,0.0,0.0,0.0

In [23]:
len(log_df)

27340254

In [26]:
log_df.loc[:, 5].value_counts()

undefined    27340254
Name: 5, dtype: int64

In [30]:
head_df = pd.read_csv(header_file, on_bad_lines="skip", encoding = "ISO-8859-1")

In [31]:
head_df

                 Field        Type Null  Key  Default  Extra
0            TIMESTAMP  bigint(20)   NO  PRI      NaN    NaN
1          LOG_DATA_ID     int(11)  YES  NaN      NaN    NaN
2      TEST_SECTION_ID     int(11)  YES  MUL      NaN    NaN
3                 TYPE        text  YES  NaN      NaN    NaN
4                  KEY        text  YES  NaN      NaN    NaN
5                 CODE        text  YES  NaN      NaN    NaN
6                 DATA        text  YES  NaN      NaN    NaN
7                INPUT        text  YES  NaN      NaN    NaN
8              PRESSED        text  YES  NaN      NaN    NaN
9   DEVICE_ORIENTATION        text  YES  NaN      NaN    NaN
10  SCREEN_ORIENTATION        text  YES  NaN      NaN    NaN
11           INPUT_LEN     int(11)  YES  NaN      NaN    NaN
12         INPUT_PRLEN      double  YES  NaN      NaN    NaN
13         INPUT_LDIST      double  YES  NaN      NaN    NaN
14       INPUT_PRLDIST      double  YES  NaN      NaN    NaN
15            INPUT_LC     char(1)  YES  NaN      NaN    NaN
16          INPUT_PRLC     char(1)  YES  NaN      NaN    NaN
17            ITE_SWYP      double  YES  NaN      NaN    NaN
18            ITE_PRED      double  YES  NaN      NaN    NaN
19            ITE_AUTO      double  YES  NaN      NaN    NaN